:root {
  --board-width: 80vh;
  --tile-width: 6vh;
  --rack-width: 50vh;
}
.game-container{
  position: relative;
  display: grid;
  width: 100%;
  grid-template-columns: max-content auto;
  gap: 10px;
}
.board-container {
  width: var(--board-width);
  min-width: 587px;
}
.board {
  position: relative;
  display: grid;
  height: var(--board-width);
  min-height: 587px;
  grid-template-columns: repeat(15,1fr);
  grid-template-rows: repeat(15,1fr);
  /* gap: 1px; */
}
.scrabble-square {
  display: flex;
  box-sizing: border-box;
  position: relative;
  justify-content: center;
  align-items: center;
  border: grey 1px solid;
  background-color: whitesmoke;
}
.scrabble-square.TW{
  background-color: red;
}
.scrabble-square.DW{
  background-color: pink;
}
.scrabble-square.DL{
  background-color: aqua;
}
.scrabble-square.TL{
  background-color: blue;
}
.rack{
  margin-top: 10px;
  position: relative;
  display: grid;
  justify-content: center;
  gap: 5px;
  grid-template-columns: repeat(7,1fr);
  width: 450px;
  height: 60px;
}
.tile{
  position: relative;
  border-radius: 10%;
  text-align: center;
  align-items: center;
  width: 95%;
  height: 95%;
  background-color: lightgoldenrodyellow;
}
.tile-value{
  position: absolute;
  bottom: 4px;
  right: 0;
  padding: 5px 4px;
  line-height: 0;
  margin: 0;
  font-size: 8px;
  font-weight: 700;
}
.tile-letter{
  margin-top: 30%;
  font-weight: 700;
  width: 100%;
}
.player-card{
  border-radius: 8%;
  background-color: mediumturquoise;
}
.player-card.true{
  background-color: palegreen;
}
